html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100vh;
    width: 100vw; 
}
.bus-line-label {
       background: rgba(0, 0, 255, 0.7);
         border: none;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 4px;
     }
     .metro-ligne {
            background: rgba(255, 165, 0, 0.7); 
           border: none;
            color: white;
           font-weight: bold;
            padding: 5px 10px;
             border-radius: 4px;
        }
        .train {
                 background: rgba(128, 0, 128, 0.7);  
                border: none;
                color: white;
           font-weight: bold;
            padding: 5px 10px;
             border-radius: 4px;}
             .connection-label {
                     background: rgba(0, 0, 0, 0.7);
                     border: none;
                    color: white;
                     font-weight: bold;
                    padding: 3px 6px;
                     border-radius: 4px;
         }